{% extends 'adminbase.html' %}
<!-- body -->
{% block content %}

<div class="container-fluid">
    <div class="p-4 m-4">
        <div class="col-lg-12 mt-4 mb-4 mx-auto border rounded p-4 ">
            <form action="/product" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    <div class="mt-4">
                        <tr>
                            <td><label>Product name</label></td>
                            <td><input type="text" name="name" class="form-control" value="{{data.name}}"></td>
                        </tr>
                        <tr class="me-4">
                            <td><label>Product Price</label></td>
                            <td><input type="number" name="price" class="form-control" value="{{data.price}}"></td>
                        </tr>
                        <tr>
                            <td><label>Product Description</label></td>
                            <td><input type="text" name="description" class="form-control" value="{{data.description}}"></td>
                        </tr>
                        <tr>
                            <td><label>Product Category</label></td>
                            <td><select name="category" id="category">
                                    {% if cat.category == 'cloths-women' %}
                                    <option value="cloths-women">Cloths-Women</option>
                                    <option value="cloths-men">Cloths-Men</option>
                                    <option value="vagitable">Vagitable</option>
                                    {% endif %}
                                    {% if cat.category == 'cloths-men' %}
                                    <option value="cloths-women">Cloths-Women</option>
                                    <option value="cloths-men">Cloths-Men</option>
                                    <option value="vagitable">Vagitable</option>
                                    {% endif %}
                                    {% if cat.category == 'vagitable' %}
                                    <option value="cloths-women">Cloths-Women</option>
                                    <option value="cloths-men">Cloths-Men</option>
                                    <option value="vagitable">Vagitable</option>
                                    {% endif %}
                                </select></td>
                        </tr>
                        <tr>
                            <td><label>Product Image</label></td>
                            <td><input type="file" name="image" id="image" value="{{data.get_image_url}}"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group pt-4">
                                    <input class="btn btn-sm btn-info col-lg-12" type="submit" value="update Product">
                                </div>
                            </td>
                        </tr>
                    </div>
                </table>
            </form>
        </div>
    </div>
</div>

{% endblock content %}